.connect {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    padding-bottom: 50px;
    input {
        padding: 20px 15px 20px 15px;
        margin-top: 20px;
        border: none;
        opacity: 1;
        font-size: 0.8rem;
    }
}
.connect input {
    width: 371px;
}
.connect textarea,
button {
    width: 746px;
    margin-top: 20px;
    padding: 10px 0 10px 0;
    border: none;
}
.comments textarea {
    padding: 25px 15px 25px 15px;
    font-size: 0.8rem;
}

.contactMe input {
    margin-top: 0;
}


