.mainHeader {
    background-color: $pine;
    max-height: 625px;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 12px 0;
    background-color: $pine;
    ul {
        display: flex;
        justify-content: center;
    } 
    a {
        margin: 0 20px 0 20px;
        transition: 0.3s;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $bodyFont;
        &:hover, &:focus {
            color: $accent;
        }
    }

}
.musings {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
}
.title {
    position: relative;
    display: flex;
    img {
        width: 115px;
        height: 135px;
        position: absolute;
        left: -45px;
    }
}
.headerImgContainer img {
        box-shadow: 12px 12px 1px 4px rgb(246 246 246);
        max-width: 400px;
        max-height: 600px;
        display: inline;
}

// Blog Header

.blog {
    background-image: url(../assets/blog-image-1.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    h3 {
        color: $white;
        font-size: 3.5rem;
        margin-top: 309px;
    }
}

// Contact Header

.contact {
    background-image: url(../assets/contact-image-1.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    h3 {
        color: $white;
        font-size: 3.5rem;
        margin-top: 309px;
    }
}

.mainContent i {
    position: absolute;
    top: -1000px;
    font-size: 2rem;
}