
// Whos Willow Section
.sectionOne {
    background-color: rgb(246, 246, 246, 0.7);
}

.who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px 0 90px 0;
}


// Favourite Things Section

.favouriteThings {
    display: flex;
    justify-content: space-between;
    align-items: end;
    img {
        box-shadow: -800px 15px $greenGrey, -400px 15px $greenGrey, 15px 15px $greenGrey;
        display: inline-block;
        max-width: 100%;
        margin-top: -30px;
    }
}
.bucketList {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 70px;
    img {
        box-shadow: 800px 20px #345231, 400px 20px #345231, 30px 20px #345231;
        display: inline-block;
        max-width: 100%;
        }
}

.textContainer {
    width: 50%;
    margin-left: 80px;
}
imgContainer {
    width: 50%;
}
.textContainerTwo {
    width: 50%;
    text-align: right;
    margin-right: 80px;
}

.journey {
    background-color: rgb(246, 246, 246, 0.7);
    height: 395px;
    .wrapper {
        display: flex;
        align-items:  center;
        justify-content: center;
    }
}

.imgContainerTwo {
    padding: 50px;
    img {
        box-shadow: 12px 12px 1px 1px $greenGrey, 12px 12px 1px 1px $greenGrey, 12px 12px 1px 1px $greenGrey;
    }
}
.banner {
    background-image: url(../assets/home-image-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
.gallery {
    display: flex;
    justify-content: center;

    .imgContainerThree {
        width: calc(100% / 3);
        align-items: center;
    }
 
}