
// Whos Willow Section
.sectionOne {
    background-color: rgb(246, 246, 246, 0.7);
}

.who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 90px 0 90px 0;
}


// Favourite Things Section

.favouriteThings {
    display: flex;
    justify-content: space-between;
    align-items: end;
    img {
        box-shadow: -800px 15px $greenGrey, -400px 15px $greenGrey, 15px 15px $greenGrey;
        display: inline-block;
        max-width: 100%;
        margin-top: -30px;
    }
}
.bucketList {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 70px;
    img {
        box-shadow: 800px 20px #345231, 400px 20px #345231, 30px 20px #345231;
        display: inline-block;
        max-width: 100%;
        }
}

.textContainer {
    width: 50%;
    margin-left: 80px;
}
imgContainer {
    width: 50%;
}
.textContainerTwo {
    width: 50%;
    text-align: right;
    margin-right: 80px;
}

.journey {
    background-color: rgb(246, 246, 246, 0.7);
    height: 395px;
    .wrapper {
        display: flex;
        align-items:  center;
        justify-content: center;
    }
}

.imgContainerTwo {
    padding: 50px;
    img {
        box-shadow: 12px 12px 1px 1px $greenGrey, 12px 12px 1px 1px $greenGrey, 12px 12px 1px 1px $greenGrey;
    }
}
.banner {
    background-image: url(../assets/home-image-5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
.imgGallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 40px 0;
    .imgContainerThree {
        img {
            width: 350px;
            height: 350px;
            padding: 15px;
        }
    }
}

.news {
    background-color: rgba(234, 230, 230, 0.7);
}
.aboutWillow {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 25px;
}
.gridOne {
    background-color: $white;
    grid-column: 1;
    grid-row: 1;
    padding: 25px;
    align-content: center;
    line-height: 2.4rem;
    img {
        width: 250px;
    }
    h4 {
        font-size: 0.9rem;
        margin-top: 15px;
    }

}
.gridOne a {
    color: $greenGrey;
    text-transform: none;
    font-family: $bodyFont;
    font-weight: bold;
}
.gridTwo {
    background-color: $white;
    grid-column: 1;
    grid-row: 2;
    padding: 30px;
    ul {
        list-style-type: inherit; 
        font-size: 0.8rem;
        font-family: $bodyFont;
        margin: 15px 0 0 25px;
        line-height: 1.2rem;
    }
    h4 {
        font-size: 0.9rem;
    }
}
.gridThree {
    grid-column: 2 / span 4;
    grid-row: 1 / span 6;
    background-color: $white;
    border-bottom: 5px solid $greenGrey;
    padding: 15px;
}
.gridFour {
    grid-column: 2 /span 4;
    background-color: $white;
    display: flex;
    padding: 25px;
    img {
        padding: 15px;
        width: 100px;
        height: 100px;
    }
    p {
        margin: 0;
    }
}
.gridFive {
    grid-column: 2 /span 4;
    background-color: $white;
    border-bottom: 5px solid $greenGrey;
    display: flex;
    padding: 25px;
    img {
        padding: 15px;
        width: 100px;
        height: 100px;
    }
    p {
        margin: 0;
    }
}

// Contact Section
// .contactMe {
//     background-color: rgba(234, 230, 230, 0.7);
// }

.contactMe  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.contactInfo {
    background-color: white;
    max-height: 228px;
    padding: 30px;
}
.contactIcons {
    display: flex;
    i {
        color:#345231;
        margin-right: 30px;
    }
}
.contactText {
    margin-top: 20px; 
            h4, p {
    font-size: 0.7rem;
    line-height: 0.7rem;
    }
}



