.mainHeader {
    background-color: $pine;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    ul {
        display: flex;
        justify-content: center;
    } 
    a {
        margin: 0 20px 0 20px;
        transition: 0.3s;
        text-transform: uppercase;
        font-weight: bold;
        &:hover, &:focus {
            color: $accent;
        }
    }
}
.musings {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: $white;
}
.title {
    position: relative;
}

h2::before {
    content: url(../assets/circle-text.png);
    position: absolute;
    left: -38px;
    top: -19px;
}
.headerImgContainer {
    box-shadow: 12px 12px 3px 2px rgb(246 246 246);
    img {
        max-width: 400px;
        max-height: 600px;
    }
}